<%- partial ('header.ejs') %>
<section>
  <div class="row">
    <div class="col l12 center">
      <h4>Somos una agencia premier de desarrollo de aplicaciones profesionales.</h5>
      <h5>Nos especializamos en</h4>
    </div>
  </div>
  <%- partial ('features.ejs') %>
  <div class="row">
    <div class="col l12 center">
      <h4>Queremos cambiar al mundo con productos increíbles.</h5>
      <h5>¿Comó funciona?</h4>
    </div>
  </div>
  <%- partial ('proccess.ejs') %>
</section>
<div class="row">
  <div class="col l12 center">
    <h4 class="white-text">Contactanos</h4>
    <h5 class="white-text">Queremos saber sobre tu proyecto, te contacteramos de inmediato.</h5>
  </div>
</div>
<%- partial ('contact.ejs') %>
<div id="contact" class="modal">
  <%- partial ('contact.ejs') %>
</div>
